<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <P>Welcome to SecIQ</P>
    <P>Your Partner in Vulnerability Management.</P>
    <br><br>
    
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>































































{% comment %}
  Welcome to SecIQ
                by Swa & Sreerag
{% endcomment %}